---
numCPU: 1
host: "0.0.0.0"
port: 9005
debugging: false
omega_app_host: "http://app"
omega_app_port: 6080
healthCheck: 60
log:
    console: true
    file: "/var/log/omega/omega-metrics.log"
    level: "debug"
    formatter: "%Date(2006-01-02 15:04:05Z07:00) [%LEVEL] %Msg%n"
    fileSize: 5000000
    fileNum: 10
cache:
    host: "redis"
    port: 6379
    password: ""
    db: 0
    llen: 178
    poolsize: 100
mq:
    user: "guest"
    password: "guest"
    host: "rmq"
    port: 5672
db:
    user: "root"
    password: "root"
    host: "influxdb"
    port: 5008
    database: "shurenyun"
    query_default_duration: "15m"  # 's' seconds, 'm' minutes, 'h' hours, 'd' days, 'w' weeks
