---
numCPU: 1
host: ""
port: 9005
debugging: false
log:
    console: true
    file: "./omega-metrics.log"
    level: "debug"
    formatter: "text"
    maxSize: 1024000
db:
    user: "oapp"
    password: "123456"
    host: "localhost"
    port: 3306
    name: "oapp"
    maxIdleConns: 5
    maxOpenConns: 50
cache:
    host: "dev.dataman.io"
    port: 6379
    password: ""
    db: 0
    llen: 178
mq:
    user: "guest"
    password: "guest"
    host: "dev.dataman.io"
    port: 5672
