METRICS_CACHETIMEOUT=60
METRICS_NUMCPU=1
METRICS_HOST="0.0.0.0"
METRICS_PORT=9005
METRICS_DEBUGGING=false
METRICS_OMEGA_APP_HOST="http://app"
METRICS_OMEGA_APP_PORT=6080
METRICS_HEALTHCHECK=60
METRICS_LOG_LEVEL="debug"
METRICS_CACHE_HOST="redis"
METRICS_CACHE_PORT=6379
METRICS_CACHE_PASSWORD="123"
METRICS_CACHE_POOLSIZE=100
METRICS_MQ_USER="guest"
METRICS_MQ_PASSWORD="guest"
METRICS_MQ_HOST="rmq"
METRICS_MQ_PORT=5672
METRICS_DB_USER="root"
METRICS_DB_PASSWORD="root"
METRICS_DB_HOST="influxdb"
METRICS_DB_PORT=5008
METRICS_DB_DATABASE="shurenyun"
METRICS_DB_QUERY_DEFAULT_DURATION="15m"  # 's' seconds, 'm' minutes, 'h' hours, 'd' days, 'w' weeks
